.inputs {
  width: fit-content;
  padding: 6px 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.inputs input {
  width: var(--input-width);
  padding: 14px 16px;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #dddfe2;
}
.inputs label {
  font-size: 13px;
}
@media (max-width: 767px) {
  .inputs input {
    width: 100%;
  }
}
.inputs input::placeholder {
  font-size: 15px;
}
