.table_content {
  overflow: auto;
  max-height: 450px;
}

.table_content table thead {
  background-color: rgb(70, 195, 70);
  color: #fff;
}

.table_content table tbody tr:nth-child(even) {
  background-color: #ddd;
}

.msg_p {
  font-size: 40px;
  text-align: center;
  margin: 30px;
}
