.phase_form {
  padding: 10px;
  text-align: center;
  background-color: #fff;
}
.phase_form input {
  width: 50%;
  border: 1px solid #000;
}
.phase_form button {
  display: block;
  margin: auto;
  width: 50%;
}
