.invoice {
  text-align: center;
  height: 100%;
  overflow: auto;
  width: 100%;
}
.invoice h2 {
  padding: 10px;
}
.invoice li {
  background-color: #17ae425c;
  padding: 10px 15px;
  margin-top: 10px;
}
