.car {
  background-color: #fff;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}
.car header {
  display: flex;
  align-items: stretch;
  color: #777;
  font-weight: bold;
  font-size: 15px;
}
.car header div:first-of-type {
  width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.car span {
  color: #1ca345;
}
.car > button {
  cursor: pointer;
  padding: 9px;
  border: none;
  width: 50%;
  color: #fff;
  background: #267626;
  font-size: 15px;
  font-weight: bold;
  margin-top: 7px;
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 30px;
  background-color: #ddd;
}
.actions > button {
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  margin-top: 7px;
  cursor: pointer;
  padding: 9px;
  border: none;
  color: #fff;
}
.actions button:first-of-type {
  color: rgba(223, 34, 34, 0.89);
}
.actions button:last-of-type {
  color: rgb(12, 111, 204);
}
