.addInventory {
  position: relative;
  padding: 10px;
  font-size: var(--main-btn-font-size);
  background-color: #2a4bf7;
  color: #fff;
  border-radius: 10px;
  border: none;
  width: var(--main-btn-width);
  margin-bottom: 30px;
}
.storeContent {
  display: flex;
  gap: 10px;
  padding: 30px 0;
}
.storeObj {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
  padding: 30px;
  width: 320px;
  text-align: center;
  border-radius: 10px;
}
