.layout section {
  width: calc(100% - var(--side-width));
<<<<<<< HEAD

=======
  margin-left: auto;
>>>>>>> c9f6c2a (charts_part_one)
  padding: 10px 30px;
}

@media (max-width: 820px) {
  .layout section {
    width: 100%;
  }
}
