.home {
  margin: 30px 0;
}
.home h1 {
  text-align: center;
  color: #7c7979;
  font-size: 36px;
}
.actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  margin-top: 20px;
}
.actions a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 45px;
  font-weight: bold;
  color: #fff;
  border: none;
  text-decoration: none;
  box-shadow: -1px 4px 26px -8px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: -1px 4px 26px -8px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: -1px 4px 26px -8px rgba(0, 0, 0, 0.74);
  transition: ease-in-out 0.1s;
}

.actions a span:last-of-type {
  font-size: 30px;
  width: 30px;
}
.actions a:hover {
  transform: scale(1.1);
}
.actions a:first-of-type {
  background-color: #c1392b;
}
.actions a:nth-child(2) {
  background-color: #27ae61;
}
.actions a:nth-child(3) {
  background-color: #f59c12;
}
.actions a:nth-child(4) {
  background-color: #287eb9;
}
.actions a:nth-child(5) {
  background-color: #5e72e4;
}
