.home {
  margin: 30px 0;
}
.home h1 {
  text-align: center;
  color: #7c7979;
  font-size: 36px;
}
.actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  margin-top: 20px;
}
.actions div {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  background-color: #fff;
  font-weight: bold;
  color: #fff;
  border: none;
  text-decoration: none;
  box-shadow: -1px 4px 26px -8px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: -1px 4px 26px -23px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: -1px 4px 26px -23px rgba(0, 0, 0, 0.74);
  transition: ease-in-out 0.1s;
}
.actions div p {
  color: #000;
  font-size: 30px;
}

.actions div span {
  color: #7c7979;
  display: inline-block;
  height: 30px;
}
/* .actions div:hover {
  transform: scale(1.1);
} */
.actions div:first-of-type {
  border-bottom: 2px solid #355aab;
}
.actions div:nth-child(2) {
  border-bottom: 2px solid #27ae61;
}
.actions div:nth-child(3) {
  border-bottom: 2px solid #f59c12;
}
.actions div:nth-child(4) {
  border-bottom: 2px solid #287eb9;
}
.actions div:nth-child(5) {
  border-bottom: 2px solid #5e72e4;
}
