.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: var(--header-height);
    background-color: #fff;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
}