.createInvoice {
  position: relative;
  padding: 10px;
  font-size: 14px;
  /* width: var(--main-btn-width); */
  background-color: var(--color-green);
  color: #fff;
  border-radius: 10px;
  border: none;
  max-width: 100%;
}
.content {
  background-color: #fff;
  overflow: auto;
}
.content > div {
  padding: 10px;
}
.content > div:first-of-type {
  display: flex;
  justify-content: space-between;
}
.content > div select {
  padding: 10px;
}
.content p {
  text-align: center;
}
.content a {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: 0.8em 1.4em;
  min-width: 5em;
  background: #fe5f55;
  border: none;
  color: white;
  transition: 0.2s;
}

.content a:hover {
  background: #fe2f22;
}
.content table tbody td {
  color: #000 !important;
}
.content table tbody td {
  color: #000 !important;
}
