.content {
  background-color: #fff;
  overflow: auto;
}
.content > div {
  padding: 10px;
}
.content > div select {
  padding: 10px;
}
.content p {
  text-align: center;
}
.content button {
  background-color: red;
}
.content table tbody td {
  color: #000 !important;
}
