.buttons {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.buttons button {
    padding: 9px 10px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 10px;

}

.actions {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.actions button svg {
    color: #fff;
    font-size: 25px;
}

.actions button:first-of-type {
    background-color: #2a4bf7;
}

.actions button:last-of-type {
    background-color: rgb(233, 30, 99);
}

.main_inventory {
    text-align: center;
    margin: 10px auto 10px;
}

.show {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
}

.show>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.show>div button {
    border: none;
    background: rgb(70, 195, 70);
}

.show>div:first-of-type button {
    background-color: #114299;
}