.bar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 10;
  min-height: 90px;
  padding: 10px 30px;
  align-items: center;
  border-radius: 10px;
  box-shadow: var(--bar-shadow) !important;
}
