.form {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  background-color: #fff;
  position: relative;
}
.form > div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form > div:first-of-type > div:first-child {
  width: 85%;
}
.actions {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.actions button {
  padding: 7px 20px;
  width: 20%;
  color: #fff;
  font-size: 20px;
  border: none;
}
.actions button[type="submit"] {
  background-color: #007bff;
}
.actions button[type="button"] {
  background-color: #e72a16;
}
.select {
  width: 100%;
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select select {
  width: 100%;
  padding: 10px;
  border: none;
  outline: 1px solid #ddd;
}
.form textarea {
  height: 90px;
  resize: none;
  padding: 10px;
}
@media (max-width: 767px) {
  .select select {
    width: 100%;
  }
}
.arrows {
  display: flex;
  justify-content: center;
  gap: 5px;
  bottom: 100px;
}
.arrows button {
  padding: 5px 30px;
}
