.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 11;
}

/* select image */

.popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  z-index: 111;
  background: #fff;
  width: 50%;
  padding: 5px 20px;
  height: 450px;
}

@media (max-width: 767px) {
  .popup-container {
    width: 90%;
  }
}

.popup-container::-webkit-scrollbar {
  display: none;
}
.actions {
  display: flex;
  background-color: #fff;

  width: 100%;
  padding: 10px;
  gap: 10px;
}
.actions .selectLocation {
  width: 50%;
}
.actions .selectLocation select {
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.addImg {
  position: relative;
  padding: 10px;
  font-size: 20px;
  background-color: #2a4bf7;
  color: #fff;
  border-radius: 10px;
  border: none;
  width: 50%;
}
.addImg input[type="file"] {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.preview {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px 0;
  gap: 5px;
  overflow: auto;
  max-height: calc(100% - 100px);
}
.preview > div {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-height: 170px;
}
.preview figure {
  width: 150px;
  height: 160px;
  overflow: hidden;
  cursor: pointer;
}
.preview figure img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .actions .selectLocation select {
    font-size: 12px;
  }
  .addImg {
    font-size: 12px;
  }
}

.prev {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.prev button {
  font-size: 17px;
  border: none;
  color: #fff;
  background-color: rgba(255, 0, 0, 0.57);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}
.comment {
  position: absolute;
  bottom: 64px;
  /* border: 1px solid black; */
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}
.comment textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  border: 1px solid;
  min-height: 60px;
}
.action_two {
  position: absolute;
  background: #fff;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  left: 0;
  display: flex;
  justify-content: center;
}
.action_two button {
  width: 50%;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 30px;
  transition: 0.5s;
}
.action_two button:first-of-type,
.action_two button:disabled:first-of-type:hover {
  background-color: #298929;
}
.action_two button:first-of-type:hover {
  background-color: #298929d2;
}
.action_two button:last-of-type,
.action_two button:disabled:last-of-type:hover {
  background-color: #bb1313;
}
.action_two button:last-of-type:hover {
  background-color: #a02424ac;
}
