.createCar {
  padding: 30px;
  background-color: #fff;
}
.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.createCar form button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  background-color: #1ca345;
  margin-bottom: 5px;
}
.createCar form button:last-of-type {
  display: block;
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 16px;

  background-color: #9d4444;
  color: #fff;
  text-align: center;
}
