.table_content {
  padding: 30px 0;
  overflow: auto;
  max-height: 450px;
}

.table_content table {
  height: 100%;
  width: 100%;
  text-align: center;
  border-spacing: 1px;
}

.table_content table th,
.table_content table td {
  padding: 0.75rem;
  min-width: 120px;
}
.table_content table td:last-of-type {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.table_content table td:last-of-type button:first-of-type {
  background-color: green;
}
.table_content table thead {
  font-size: 13px;
  background-color: #114299;
  color: #fff;
}

.table_content table tbody {
  font-size: 12px;
}

.table_content table tbody tr:nth-child(even) {
  background-color: #ddd;
}

.table_content table tbody button {
  background-color: #da3230;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  color: #fff;
}

.msg_p {
  font-size: 40px;
  text-align: center;
  margin: 30px;
}
