.content {
    display: flex;
    flex-wrap: wrap;
}

.content>div:first-of-type {
    width: 35%;
    position: relative;
}


.content>div:last-of-type {
    width: calc(100% - 35%);
    margin-left: auto;
    padding-right: 30px;
}

.content span {
    font-weight: bold;
}