.content {
  width: 95%;
  padding: 30px 15px;
  margin: 60px auto;
}

.content > div:first-of-type {
  padding: 10px;
  overflow: hidden;
  border: 1px solid #000;
}

.content span {
  font-weight: bold;
}
