.table_content h2 {
  padding: 15px 0;
  text-align: center;
}
.content {
  overflow: auto;
}

.table_content table thead {
  color: #fff;
  /* background-color: #0b9cff; */
  background-color: var(--color-red);
}

.table_content table tbody tr:nth-child(even) {
  background-color: #ddd;
}
.table_content table tbody button {
  background-color: #da3230;
}
