.content h2 {
  padding: 30px 0;
  text-align: center;
}
.content {
  overflow: auto;
}
.table_content table {
  width: 100%;
  text-align: center;
  border-spacing: 1px;
}
.table_content table th,
.table_content table td {
  padding: 0.75rem;
  min-width: 120px;
  font-size: 20px;
  border: 1px solid;
}
.table_content table thead {
  font-size: 13px;
  background-color: #0b9cff;
  color: #fff;
}

.table_content table tbody {
  font-size: 12px;
}
.table_content table tbody tr:nth-child(even) {
  background-color: #ddd;
}
.table_content table tbody button {
  background-color: #da3230;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  color: #fff;
  margin: 0 5px;
}
.table_content table tbody button:last-of-type {
  background-color: green;
}

@media (max-width: 767px) {
  .table_content table th,
  .table_content table td {
    padding: 0;
  }
  .table_content table ul li {
    font-size: 12px;
  }
}
