.sidebar {
  background-color: #2150d8;
  min-height: calc(100vh);
  width: var(--side-width);
  position: fixed;
  right: 0;
  top: 0;
  z-index: s;
  padding-top: var(--header-height);
}

@media (max-width: 767px) {
  .sidebar {
    width: var(--side-width-mob);
  }
  .sidebar p {
    display: none;
  }
  .sidebar li a {
    justify-content: center;
    padding: 10px;
  }
}
.sidebar ul {
  padding-top: 60px;
}
.sidebar li a {
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
  font-size: 25px;
  text-decoration: none;
}
.active {
}
.sidebar li:hover a {
  background: "#fff";
  color: "#2150d8";
  border-radius: "58px 40px 40px 7px";
}
.sidebar li a span {
  width: 30px;
}
