.confirmation {
  position: absolute;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 111;
}

.confirmation p {
  color: #000 !important;
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.actions button {
  color: #fff;
  border: none;
  padding: 5px 15px;
}
.actions button:first-of-type {
  background-color: #da3230;
}
.actions button:last-of-type {
  background-color: #2a4bf7;
}
