.car_activity {
  padding: 30px;
  background-color: #fff;
}
.car_activity button[type="button"] {
  width: 20%;
  padding: 10px;
  font-size: 12px;
  border: none;
  color: #fff;
  background: #204ae1;
  font-weight: bold;
  margin: 10px auto;
}
.car_activity button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  color: #fff;
  background-color: green;
}
