@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,400;1,500;1,700;1,900&display=swap");
:root {
  --side-width: 200px;
  --side-width-mob: 120px;
  --header-height: 150px;
  --bar-shadow: 0 8px 26px -4px hsla(0, 0%, 8%, 0.15),
    0 8px 9px -5px hsla(0, 0%, 8%, 0.06);
  --main-btn-width: 20%;
  --main-btn-font-size: 19px;
  --input-width: 332px;
  --color-1: #cac0b6;
  --color-2: #d1d0ce;
  --color-3: #79726c;
  --color-4: #939290;
  --color-5: #867e76;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
body {
  background-color: #dbe0e6;
  min-height: 100vh;
  /* background-image: url(../public/images/logo/logo.png);
  background-repeat: no-repeat;
  background-position: center ; */
  font-family: "Noto Naskh Arabic", serif;
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* error msg */
.validation-msg {
  font-size: 25px;
  text-align: center;
}
.err-msg {
  color: red;
  font-size: 12px;
}
/*pagination*/
.ant-pagination .ant-pagination-item a,
.ant-pagination-item-link {
  color: var(--main-color) !important;
  font-weight: bold;
}
.ant-pagination-options {
  display: none !important;
}

/*toolbar*/
h1 {
  text-align: center !important;
}
.toolBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.select {
  display: flex;
  flex-direction: column;
  height: 40px;
}
.select select {
  width: 100%;
  height: 100%;
  border: 1px solid #dddfe2;
}
textarea {
  width: 100%;
  height: 70px;
  padding: 5px;
  border: 1px solid #ddd;
  resize: none;
}

.deleteBtn {
  background-color: #da3230;
}
.deleteIcon {
  color: #da3230 !important;
}

.editBtn {
  background-color: rgb(12, 111, 204);
}

.editIcon {
  color: rgb(12, 111, 204) !important;
}
table tbody button {
  border: none;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
