@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,400;1,500;1,700;1,900&display=swap");
:root {
  --side-width: 200px;
  --side-width-mob: 120px;
  --header-height: 65px;
  --bar-shadow: 0 8px 26px -4px hsla(0, 0%, 8%, 0.15),
    0 8px 9px -5px hsla(0, 0%, 8%, 0.06);
  --main-btn-width: 20%;
  --main-btn-font-size: 19px;
  --input-width: 332px;
  --color-red: #c1392b;
  --color-green: #27ae61;
  --color-yellow: #f59c12;
  --color-blue: #287eb9;
  --color-main: rgb(124, 121, 121);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

/* start theme */

#dark {
  background-color: #1b203a;
  min-height: 100vh;
}
#dark section h2 {
  color: #fff !important;
}
#dark #dashbaord > div > div,
#dark .VictoryContainer {
  background-color: #272b4a;
}

#dark section form {
  background-color: #272b4a !important;
}

#dark section form h3,
#dark section form label,
#dark section form input {
  color: #fff;
}

#dark #dashbaord > div > div p {
  color: #fff;
}
#dark h2,
#dark p:not(li p),
#dark h3 {
  color: #fff;
}
#light {
  background-color: #dbe0e6 !important;
  min-height: 100vh;
}
#dark header {
  background-color: #1a224a;
  color: #fff;
}

#dark aside {
  background-color: #252c48;
}
#dark svg {
  color: #fff;
}
#dark a {
  color: #fff;
}
/*end theme */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
body {
  background-color: #dbe0e6;
  min-height: 100vh;
  /* background-image: url(../public/images/logo/logo.png);
  background-repeat: no-repeat;
  background-position: center ; */
  font-family: "Roboto", sans-serif;
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* error msg */
.validation-msg {
  font-size: 25px;
  text-align: center;
}
.err-msg {
  color: red;
  font-size: 12px;
}
/*pagination*/
.ant-pagination .ant-pagination-item a,
.ant-pagination-item-link {
  color: var(--main-color) !important;
  font-weight: bold;
}
.ant-pagination-options {
  display: none !important;
}

/*toolbar*/
h1,
h2 {
  text-align: center !important;
}
.toolBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.select {
  display: flex;
  flex-direction: column;
  height: 40px;
}
.select select {
  width: 100%;
  height: 100%;
  border: 1px solid #dddfe2;
}
textarea {
  width: 100%;
  height: 70px;
  padding: 5px;
  border: 1px solid #ddd;
  resize: none;
}

.deleteBtn {
  background-color: #da3230;
}
.deleteIcon {
  color: #da3230 !important;
}
.add-img {
  background-color: rgb(204, 98, 12);
}
.editBtn {
  background-color: rgb(12, 111, 204);
}

.editIcon {
  color: rgb(12, 111, 204) !important;
}
table tbody button {
  border: none;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
table {
  width: 100%;
  text-align: center;
}
table th,
table td {
  padding: 0.75rem;
  min-width: 120px;
  font-size: 20px;
}
@media (max-width: 767px) {
  table th,
  table td {
    font-size: 12px;
  }
}

#dark table tbody td {
  color: #fff;
}

table tbody {
  font-size: 12px;
}
table tbody tr:nth-child(even) {
  background-color: #d1d1d1;
}
#dark table tbody tr:nth-child(even) td,
#dark table tbody tr:nth-child(even) td a {
  color: #000;
}
table tbody tr td,
table thead th {
  font-size: 15px;
}
table tbody button {
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  color: #fff;
  margin: 0 5px;
  font-size: 12px;
}

@media (max-width: 767px) {
  table th,
  table td {
    padding: 10px;
    font-size: 12px !important;
  }
  .table_content table ul li {
    font-size: 12px;
  }
}
