.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}
.main h1 {
  color: #817e7e;
  font-size: 60px;
  text-align: center;
}
@media (max-width: 991px) {
  .main h1 {
    display: none;
  }
}
.form_container {
  width: 368px;
  min-height: 350px;
  /* margin: 120px auto; */
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
}
.form_container form {
  padding-top: 60px;
  text-align: center;
}
.action_submit {
  text-align: center;
}
.action_submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.action_submit button {
  font-size: 21px;
  line-height: 48px;
  padding: 0 16px;
  width: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.submitBtn {
  background-color: #1877f2;
  color: #fff;
}

.alreadyHaveAcc {
  background-color: transparent;
  font-size: 15px !important;
  color: blue;
}
.forgetPass {
  background-color: transparent;
  color: blue;
  text-decoration: underline;
  font-size: 15px !important;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}
.submitBtn:hover {
  background-color: #1876f2c9;
}
.createNewAccBtn {
  background-color: #42b72a;
  color: #fff;
}
.createNewAccBtn:hover {
  background-color: #42b72ace;
}

/* unauth class */
.unauth button[type="submit"] {
  border: 1px solid red;
  background-color: red;
}
