.createNewAccBtn{
    font-size: 21px;
    line-height: 30px;
    padding: 0 16px;
    width: 332px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
  }
.createNewAccBtn {
    background-color:#42b72a ;
    color: #fff;
  
  }
  .createNewAccBtn:hover {
    background-color:#42b72ace ;
  
  } 