.items ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}
.items ul select {
    width:130px;
    padding: 12px 10px ;
}
.items ul input {
    background-color: #fff;
    width: 100%;
}
.items ul svg{
    color: #c5aaaa;
}
