.btn {
  /* width: var(--main-btn-width); */
  font-size: var(--main-btn-font-size);
  /* background-color: #0b9cff; */
  background-color: var(--color-red);

  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .btn {
    width: 100%;
  }
}
